.header-class , .header-links, .header-links , .h-logo, .h-link{
    background-color: #1F2937;
    color:#f9faf8;
    text-decoration: none;
}

.header-class{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.header-links{
    width:30%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.h-link{
    width:33%;
    font-size: 0.65em;
    text-align: center;
}